<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <h1>The Feed</h1>

        <div th:each="post : ${user.getPosts()}">
            <p th:text="'Posted by ' + ${user.getUsername()} + ' on ' + ${post.getCreatedAt()}"></p>
            <p th:text="${post.getBody()}"></p>
        </div>

        <div th:each="homies : ${user.getFollowing()}">
            <div th:each="homiesPost : ${homies.getPosts()}">
                <p>Posted by
                    <a th:href="'/user/' +${homies.getId()}" th:text="${homies.getUsername()}"></a>
                    on <span th:text="${homiesPost.getCreatedAt()}"></span></p>
                <p th:text="${homiesPost.getBody()}"></p>
            </div>
        </div>
    </main>
</body>
</html>