<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <h1>User Details</h1>
        <img th:src="${user.getProfilePicUrl()}">
        <p th:text="'Username: ' + ${user.getUsername()}"></p>
        <p th:if="${user.getFirstname()} !=''"
           th:text="'First Name: ' + ${user.getFirstname()}">First Name: Not Provided</p>
        <p th:if="${user.getLastname()} !=''"
           th:text="'Last Name: ' + ${user.getLastname()}">Last Name: Not Provided</p>
        <p th:if="${user.getBio()} !=''" th:text="'Bio: ' + ${user.getBio()}"></p>

        <form
                th:if="${user.getUsername()} !=${principal.getName()} and !${principalUser.getFollowing().contains(user)}" action="/homies" method="POST">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <input type="submit" th:value="'Follow ' + ${user.getUsername()}">
        </form>

        <form
                th:if="${user.getUsername()} !=${principal.getName()} and ${principalUser.getFollowing().contains(user)}" action="/nothomies" method="POST">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <input type="submit" th:value="'UnFollow ' + ${user.getUsername()}">
        </form>

    </main>
</body>
</html>